# Git
.git
.gitignore

# Docker
.docker
docker-compose.yml
Dockerfile
Dockerfile.celery

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
myenv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Local development
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Media and static files (will be mounted as volumes)
media/
staticfiles/

# Logs
logs/
*.log

# Database
*.sqlite3